# Machine Project
This is the start of the project

In [1]:
import os #to check working directory
import numpy as py
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
path = os.getcwd()  #in case your database isn't in the same folder as your notebook
path

'C:\\Users\\cacat\\OneDrive - De La Salle University - Manila\\Desktop\\Inbox\\Academe\\2023-2024\\TERM 3 (MAY-SEPT)\\CSMODEL\\Machine Project'

In [5]:
#make sure to change the directory according to where your BRFSS is located 
brfss_df = pd.read_csv("2015.csv")
brfss_df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,1.0,1.0,b'01292015',b'01',b'29',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0
1,1.0,1.0,b'01202015',b'01',b'20',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,2.0,2.0,3.0,3.0,4.0,2.0,2.0,NaN,NaN,2.0
2,1.0,1.0,b'02012015',b'02',b'01',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,NaN
3,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,9.0
4,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0

In [7]:
selected_vars = ['DIABETE3', 'SEX','_RFHLTH', '_AGE_G', '_INCOMG', '_RFCHOL', '_EDUCAG', 'FRUTDA1_', 'GRENDAY_', '_RFHYPE5', '_PACAT1', 'CVDSTRK3', '_LTASTH1', 'MARITAL', 'DIFFWALK', '_BMI5CAT', '_RFBING5', 'SMOKE100']

In [9]:
diabetes_df=brfss_df[selected_vars]
diabetes_df = diabetes_df.query('SEX == 2') #we're only going to be working with female respondents 
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 254518 entries, 0 to 441455
Data columns (total 18 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   DIABETE3  254518 non-null  float64
 1   SEX       254518 non-null  float64
 2   _RFHLTH   254518 non-null  float64
 3   _AGE_G    254518 non-null  float64
 4   _INCOMG   254518 non-null  float64
 5   _RFCHOL   224553 non-null  float64
 6   _EDUCAG   254518 non-null  float64
 7   FRUTDA1_  234163 non-null  float64
 8   GRENDAY_  233464 non-null  float64
 9   _RFHYPE5  254518 non-null  float64
 10  _PACAT1   254518 non-null  float64
 11  CVDSTRK3  254518 non-null  float64
 12  _LTASTH1  254518 non-null  float64
 13  MARITAL   254518 non-null  float64
 14  DIFFWALK  247470 non-null  float64
 15  _BMI5CAT  225976 non-null  float64
 16  _RFBING5  254518 non-null  float64
 17  SMOKE100  246419 non-null  float64
dtypes: float64(18)
memory usage: 36.9 MB

In [11]:
#changing the diabete3 to int 
diabetes_df['DIABETE3'] = diabetes_df['DIABETE3'].astype(int)
median = diabetes_df['DIABETE3'].median()
diabe3_mean = diabetes_df['DIABETE3'].mean()
diabetes_df['DIABETE3'].value_counts()

DIABETE3
3    214124
1     31852
4      4546
2      3608
7       295
9        93
Name: count, dtype: int64

In [15]:
# the 7 and 9 because it's unsure/refused AND its only 0.153% of the sample
# threshold = 5% | 0.05, so we imputate using the median value

diabetes_df['DIABETE3']=diabetes_df['DIABETE3'].replace({7: median, 9: median,})
diabetes_df['DIABETE3'].value_counts()

DIABETE3
3    214512
1     31852
4      4546
2      3608
Name: count, dtype: int64

In [17]:
# retain 1 and 2 on the data make 3 and 4 as 0 (no diabetes)
diabetes_df['DIABETE3']=diabetes_df['DIABETE3'].replace({3: 0,4:0})
diabetes_df['DIABETE3'].value_counts()

DIABETE3
0    219058
1     31852
2      3608
Name: count, dtype: int64

In [ ]:
#variables that are have null values: 
# _RFCHOL(weird kasi more than the total entries), FRUTDA1_  ,GRENDAY_  ,DIFFWALK  ,_BMI5CAT  ,SMOKE100  
diabetes_df['_RFCHOL'].value_counts()

In [ ]:
diabetes_df['_RFCHOL'].unique()

In [ ]:
diabetes_df['FRUTDA1_'].isnull().value_counts()

In [ ]:
diabetes_df['FRUTDA1_'].unique()

In [ ]:
diabetes_df['GRENDAY_'].isnull().value_counts()

In [ ]:
diabetes_df['GRENDAY_'].unique()

In [ ]:
diabetes_df['DIFFWALK'].isnull().value_counts()

In [ ]:
diabetes_df['DIFFWALK'].value_counts()

In [ ]:
diabetes_df['DIFFWALK'].unique()

In [ ]:
diabetes_df['_BMI5CAT'].isnull().value_counts()

In [ ]:
diabetes_df['_BMI5CAT'].value_counts()

In [ ]:
diabetes_df['_BMI5CAT'].unique()

In [ ]:
diabetes_df['SMOKE100'].isnull().value_counts()

In [ ]:
diabetes_df['SMOKE100'].value_counts()

In [ ]:
diabetes_df['SMOKE100'].unique()