# Machine Project
This is the start of the project<br>
The data should be downloaded at [DATA](https://drive.google.com/drive/folders/1yU6AjRvTDag7px_wBcGgOZRgF7__6VWl)

In [1]:
import os #to check working directory
import numpy as py
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
path = os.getcwd()
path

'/Users/kriastiankintanar/Desktop/CSNETWKMCO1/diabetesmodel'

In [3]:
#make sure to change the directory according to where your BRFSS is located 
brfss_df = pd.read_csv("2015.csv")
brfss_df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,1.0,1.0,b'01292015',b'01',b'29',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0
1,1.0,1.0,b'01202015',b'01',b'20',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,2.0,2.0,3.0,3.0,4.0,2.0,2.0,NaN,NaN,2.0
2,1.0,1.0,b'02012015',b'02',b'01',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,NaN
3,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,9.0
4,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0

In [4]:
selected_vars = ['DIABETE3','GENHLTH','PHYSHLTH','MENTHLTH','INCOME2','TOLDHI2','EDUCA','FRUIT1','FVGREEN','BPHIGH4','EXERANY2','CVDSTRK3','ASTHMA3','MARITAL','DIFFWALK','WEIGHT2','HEIGHT3','DRNK3GE5','SMOKE100']

In [5]:
diabetes_df=brfss_df[selected_vars]
diabetes_df

,DIABETE3,GENHLTH,PHYSHLTH,MENTHLTH,INCOME2,TOLDHI2,EDUCA,FRUIT1,FVGREEN,BPHIGH4,EXERANY2,CVDSTRK3,ASTHMA3,MARITAL,DIFFWALK,WEIGHT2,HEIGHT3,DRNK3GE5,SMOKE100
0,3.0,5.0,15.0,18.0,3.0,1.0,4.0,310.0,310.0,1.0,2.0,2.0,1.0,1.0,1.0,280.0,510.0,NaN,1.0
1,3.0,3.0,88.0,88.0,1.0,2.0,6.0,305.0,202.0,3.0,1.0,2.0,2.0,2.0,2.0,165.0,508.0,NaN,1.0
2,3.0,4.0,15.0,88.0,99.0,1.0,4.0,NaN,NaN,3.0,NaN,1.0,2.0,2.0,NaN,158.0,511.0,NaN,NaN
3,3.0,5.0,30.0,30.0,8.0,1.0,4.0,101.0,301.0,1.0,2.0,2.0,2.0,1.0,1.0,180.0,507.0,NaN,2.0
4,3.0,5.0,20.0,88.0,77.0,2.0,5.0,102.0,204.0,3.0,2.0,2.0,2.0,1.0,2.0,142.0,504.0,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441451,1.0,4.0,88.0,88.0,4.0,1.0,2.0,555.0,555.0,1.0,2.0,2.0,2.0,3.0,1.0,104.0,503.0,NaN,2.0
441452,3.0,1.0,88.0,88.0,2.0,2.0,5.0,101.0,303.0,3.0,1.0,2.0,2.0,1.0,2.0,160.0,503.0,NaN,2.0
441453,3.0,4.0,88.0,20.0,5.0,1.0,4.0,NaN,NaN,1.0,NaN,2.0,2.0,1.0,2.0,247.0,505.0,88.0,1.0
441454,3.0,3.0,88.0,88.0,1.0,2.0,5.0,101.0,202.0,1.0,2.0,2.0,2.0,5.0,2.0,166.0,511.0,NaN,2.0
441455,1.0,2.0,88.0,88.0,2.0,1.0,6.0,101.0,201.0,1.0,1.0,2.0,2.0,1.0,2.0,135.0,502.0,NaN,2.0